	body{
	background-color: #f2f3f1;
	}
	header h3{
	padding-top: 0.8rem;
	padding-left: 0.5333rem;
	}
	.content ul{
			display: flex;
			justify-content: space-around;
			text-align: center;
			padding: 0.213333rem 0.106666rem
		}
		.content ul li i{
			display: inline-block;
			width: 1.6rem;
			height: 1.6rem;
			line-height: 1.6rem;
			font-size: 1.2rem!important;
			border-radius: 50%;
			background-color: #FFFFFF;
			box-shadow: -0.053333rem -0.08rem 0.12rem #ccc;
		}
		.content ul li span{
			display: block;
			font-size: 14px;
			font-weight: 400;
			margin-top: 0.2rem;
		}
		footer{
			width: 100%;
			position: absolute;
			bottom: 60px;
			display: flex;
			justify-content: space-around;
			text-align: center;
		}
		footer i{
			width: 0.5rem;
			height:0.5rem;
			line-height: 0.5rem;
			font-size: 0.5rem !important
		}
		footer .voice i{
			width: 1.4rem;
			height: 1.4rem;
			line-height: 1.4rem;
			font-size: 1rem!important;
			border-radius: 100%;
			background-color: #FFFFFF;
			box-shadow: -0.053333rem -0.08rem 0.12rem #ccc;
			position: absolute;
			left: 43%;
			bottom: 50%;
		}
		footer .voice span{
			display: block;
			margin-top: 0.266666rem;
			font-size: 0.373333rem;
			width: 60px;
		}